
<h2 mat-dialog-title>{{description}}</h2>

<mat-card>
<b>It will unassign </b><br><br>
<b>camera:</b> {{deviveNo}} 
<br><br>from <br><br>
<b>vehicle:</b>{{vehicleName}}.
<br>
<br>
<b>Are you sure?</b>

</mat-card>
<mat-dialog-content [formGroup]="form">

    <!-- <mat-form-field>
        <mat-label>
            It will unassign camera:{{deviveNo}} from vehicle:{{vehicleName}}.
            Are you sure?
        </mat-label>




    </mat-form-field> -->

    <!-- <mat-form-field>

        <mat-select placeholder="Select category"
            formControlName="category">

            <mat-option value="BEGINNER">
                Beginner</mat-option>
            <mat-option value="INTERMEDIATE">
                Intermediate</mat-option>
            <mat-option value="ADVANCED">
                Advanced</mat-option>

        </mat-select>

    </mat-form-field> -->

    <!-- <mat-slide-toggle formControlName="promo">Promotion On</mat-slide-toggle> -->


    <!-- <mat-form-field>

        <textarea matInput placeholder="Description"
            formControlName="longDescription">

        </textarea>

    </mat-form-field> -->


</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-around">

    <button class="mat-raised-button"
            (click)="onDelet()">
        Confirm
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="onCancel()">
        Cancel
    </button>

</mat-dialog-actions>


