<h2 mat-dialog-title class="d-flex justify-content-around">{{description}}</h2>
<mat-card >
    <mat-dialog-content [formGroup]="form" class="d-flex flex-column" >


        <mat-form-field class="p-2">

            <mat-select placeholder="Select Vehicle" formControlName="vehicle">
                <mat-option *ngFor="let vehicle of availableVehicles" value="{{vehicle.id}}">
                    {{vehicle.name}}
                </mat-option>

            </mat-select>

        </mat-form-field>

        <mat-form-field class="p-2">

            <mat-select placeholder="Select Camera" formControlName="camera">
                <mat-option *ngFor="let camera of availableCameras" value="{{camera.id}}">
                    {{camera.deviceNo}}
                </mat-option>

            </mat-select>

        </mat-form-field>

    </mat-dialog-content>
</mat-card>


<mat-dialog-actions class="d-flex justify-content-around">

    <button class="mat-raised-button" (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary" [disabled]="!form.valid" (click)="save()">
        Save
    </button>

</mat-dialog-actions>